
#root #rootApp.mobile .navbar {
    height: 50px
}

#root #rootApp.mobile .formInfo.contact .container-fluid form textarea.finalComment {
    width: 100%;
}

#root #rootApp.mobile .navbar .container-fluid .navbar-header .navbar-brand.logo img {
    height: 50px;
}

#root #rootApp.mobile p.navbar-text {
    margin-top: 10px;
}

.contact.portraitView .container-fluid .userImage {
    width: 346px;
    height: 400px;
}

.contact.portraitView .container-fluid .infos .info:nth-child(1) {
    margin-top: 54px;
}

#root .formInfo.portraitView.contact .container-fluid form div.row.infoPart input {
    max-width: none;
    width: 100%;
}

#root #rootApp.mobile .formInfo.contact.portraitView .container-fluid form textarea.finalComment {
    max-width: none;
}

#rootApp div.body.home,
#rootApp div.body.product,
#rootApp div.body.showcase {
    overflow: hidden;
    /*width: 100vw;*/
    background-color: #000;
    /*position: absolute;*/
    position: fixed;
    left: 0;
    right: -1px;
    bottom: -1px;
}

.carousel-indicators {
    position: fixed;
    top: calc(100% - 50px);
}

.right.carousel-control > span {
    margin-right: 0px !important;
}

#rootApp .homeSlider .carousel .carousel-inner .item .carousel-caption {
    /*top: 80px;*/
}

#rootApp .homeSlider {
    position: fixed;
    top: 50px;

}

@media only screen and (orientation: portrait) {
    .modal.userInfoModal .modal-content .modal-body .ownerInfo .infos .info:first-child {
        font-size: 60px;
    }

    .modal.userInfoModal .modal-content .modal-body .ownerInfo .infos .info:last-child {
        font-size: 32px;
    }

    #rootApp .body.about div.contact > div.container-fluid:nth-child(2) {
        padding-bottom: 160px;
    }

    #leftMenu .modal-dialog .menuLinksArea .gotoLink:after {
        width: 210px;
    }

    #leftMenu .modal-dialog .menuLinksArea .gotoLink a {
        font-size: 72px;
        line-height: 160px;
    }

    div.body {
        margin-top: 100px;
        position: relative;
    }

    #rootApp .homeSlider .carousel .carousel-inner .item .carousel-caption {
        top: 105px;
    }

    #leftMenu .modal-dialog .btnClose {
        width: 70px;
        height: 70px;
        background: url(../images/X.png) no-repeat;
        background-size: 70px;
    }

    #leftMenu .modal-dialog .locale {
        width: 96px;
        height: 96px;
        padding-top: 25px;
        color: #000;
        margin: 0 10px;
        cursor: pointer;
        font-size: 36px;
    }

    #leftMenu .modal-dialog .btnArea span:first-child {
        font-size: 48px;
    }

    #leftMenu .modal-dialog .modal-content {
        width: 100vw;
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 30px;
    }
    #rootApp.mobile .navbar .container-fluid .navbar-header {
        height: 100px;
    }

    #root p.navbar-text span {
        font-size: 50px;
    }

    #root p.navbar-text a {
        width: 70px;
        height: 56px;
        background: url(../images/Main_button.png) no-repeat;
        background-size: 70px 56px;
    }

    #root #rootApp.mobile p.navbar-text {
        height: 100px;
        margin: 0;
    }

    #root #rootApp.mobile p.navbar-text > * {
        top: 50%;
        position: relative;
        transform: translateY(-50%);
    }

    #root #rootApp.mobile p.navbar-text > span {
        top: 12px;
    }

    #rootApp.mobile .navbar .navbar-brand.menu {
        height: 100px;
        width: 100px;
    }
    #root #rootApp.mobile .navbar {
        height: 100px;
    }

    #rootApp.mobile .navbar .container-fluid .navbar-header .navbar-brand.menu img {
        height: 60px;
        width: 90px;
    }
    #rootApp.mobile .body.about div.contact > div.container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    #rootApp.mobile .body.about div.contact > div.container-fluid:first-child {
        background: #fff;
    }

    #rootApp.mobile .body.about div.contact > div.container-fluid:last-child {
        background: rgba(235, 235, 235, 0.8);
    }

    #rootApp.mobile .body.about div.contact > div.container-fluid:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
    }

    #rootApp.mobile .body.about div.contact > div.container-fluid:nth-child(2) div.row.ownerInfo > div:last-child {
        padding-left: 30px;
        padding-right: 30px;
    }


    #rootApp.mobile .contact .container-fluid .infos .info:nth-child(1) {
        padding-left: 0px;
        padding-right: 0px;
    }

    #rootApp.mobile .contact .container-fluid .infos .info:nth-child(1) {
        font-size: 60px;
    }

    .contact .container-fluid .infos .info:nth-child(2) {
        font-size: 32px;
    }

    .contact .container-fluid .infos .info:nth-child(3) {
        font-size: 32px;
    }

    .contact .container-fluid .infos .info:nth-child(4) {
        font-size: 32px;
    }

    #rootApp.mobile .contact.portraitView .container-fluid .userImage {
        width: 100%;
        height: auto;
    }

    #rootApp.mobile .contact .container-fluid h1.titleForm {
        font-size: 120px;
    }

    #rootApp.mobile .contact .container-fluid p {
        font-size: 50px;
        line-height: 72px;
    }

    #root .navbar .navbar-brand.logo {
        display: none;
    }

    #root #rootApp.mobile div.lanscapseView {
        display: none;
    }

    #root #rootApp.mobile div.portraitView {
        display: block;
        background: #fff;
    }

    #root #rootApp.mobile.modal.userInfoModal .modal-dialog {
        max-width: none;
    }

    #root #rootApp.mobile .modal.userInfoModal .modal-content {
        width: calc(100vw - 60px);
        /*height: 590px;*/
        max-width: none;
        left: 50%;
        transform: translateX(-50%);
    }

    #root #rootApp.mobile .modal.userInfoModal .modal-content .modal-body .ownerInfo .userImage {
        width: 288px;
        height: 348px;
        margin-right: 34px;
    }

    #root #rootApp.mobile .modal.userInfoModal .modal-content .modal-body .ownerInfo p {
        font-size: 23px;
    }

    .contact .container-fluid .infos .viewProfile {
        /* width: 180px; */
        height: 72px;
        margin-top: 60px;
        font-size: 32px;
        text-align: left;
        line-height: 60px;
    }

    .myBtn {
        background: url(../images/Harrow.png) center right 14px no-repeat #fff;
        background-size: 40px 34px;
        padding-right: 100px;
        padding-left: 30px;
    }

    .contact.portraitView .container-fluid .infos .info:nth-child(1) {
        padding-top: 40px;
    }

    #rootApp.mobile .body.about div.contact > div.container-fluid:first-child {
        padding-bottom: 0;
    }

    #rootApp.mobile .contact .container-fluid .row.ownerInfo {
        margin-top: 160px;
    }
}

@media only screen and (orientation: landscape) {
    #rootApp.mobile .homeSlider .carousel .carousel-control {
        width: 15%;
    }

    #root #rootApp.mobile div.lanscapseView {
        display: block;
    }

    #root #rootApp.mobile div.portraitView {
        display: none;
    }

    #root .navbar {

    }
}