<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/libs/FitText/jquery.fittext.js"></script>
    <script src="/libs/TouchSwipe-Jquery-Plugin/jquery.touchSwipe.js"></script>
    <script src="/scripts/utils.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/libs/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel='stylesheet' href='/stylesheets/minireset.min.css'/>
    <link rel='stylesheet' href='/stylesheets/animate.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/media.css'/>

    <% if (isMobile && isPhone) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel='stylesheet' href='/stylesheets/phone.css'/>
    <% } else if (isMobile && isTablet) { %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel='stylesheet' href='/stylesheets/tablet.css'/>
    <% } %>


    <% if (isMobile && isTablet && isTablet !== 'iPad') { %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel='stylesheet' href='/stylesheets/androidTablet.css'/>
    <% } %>

</head>
<body>
<div id="root">

</div>

<% if (isMobile && isPhone) { %>
<script src="/mobile/<%= locale %>.mobile.bundle.js"></script>
<% } else if (isMobile && isTablet) { %>
<script src="/mobile/<%= locale %>.tablet.bundle.js"></script>
<% } else { %>
<script src="/<%= locale %>.bundle.js"></script>
<% } %>

</body>
</html>
