<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="titleForm">Chi siamo</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-10">
                <p>
                    Siamo un team con delle competenze specifiche che spaziano dalla grafica, la programmazione per siti
                    internet, l’architettura e lo spazio urbano, possiamo rispondere a tutte le vostre esigenze inerenti
                    alla concezione grafica e di design, siamo in grado di offrire degli ottimi servizi legati alle
                    tecniche di stampa, di segnaletica e possiamo realizzare diversi progetti digitali quali la
                    creazione di siti web, animazioni, video e 3D.
                </p>
            </div>
        </div>

        <div class="row ownerInfo">
            <div class="col-md-12 col-sm-12">
                <div class="userImage">
                    <img src="images/slides/_2-team/Milo.png"/>
                </div>

                <div class="infos">
                    <div class="info">
                        Jean–Marie Balogh
                    </div>
                    <div class="info">
                        Grafico, web designer e illustratore
                    </div>
                    <div class="info">
                        jeanmarie.balogh@gmail.com
                    </div>
                    <div class="info">
                        078 933 24 53
                    </div>
                    <div class="btn viewProfile myBtn" data-toggle="modal" data-target="#miloModal">
                        Per saperne di più
                    </div>
                </div>
            </div>
        </div>
        <div class="row ownerInfo">
            <div class="col-md-12 col-sm-12">
                <div class="userImage">
                    <img src="images/slides/_2-team/Huy.png"/>
                </div>

                <div class="infos">
                    <div class="info">
                        Nguyen Thi Minh Huy
                    </div>
                    <div class="info">
                        Architetto, architetto urbanista e 3D designer
                    </div>
                    <div class="info">
                        jeanmarie.balogh@gmail.com
                    </div>
                    <div class="info">
                        078 933 24 53
                    </div>
                    <div class="btn viewProfile myBtn"  data-toggle="modal" data-target="#huyModal">
                        Per saperne di più
                    </div>
                </div>
            </div>
        </div>
        <div class="row ownerInfo">
            <div class="col-md-12 col-sm-12">
                <div class="userImage">
                    <img src="images/slides/_2-team/Eric.png"/>
                </div>

                <div class="infos">
                    <div class="info">
                        Eric Spichiger
                    </div>
                    <div class="info">
                        Web Master
                    </div>
                    <div class="info">
                        jeanmarie.balogh@gmail.com
                    </div>
                    <div class="info">
                        078 933 24 53
                    </div>
                    <div class="btn viewProfile myBtn"  data-toggle="modal" data-target="#ericModal">
                        Per saperne di più
                    </div>
                </div>
            </div>
        </div>

        <div class="row chiSite">
            <div class="col-md-6 col-sm-6">
                <h1 class="titleForm">Chi siete ?</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-10">
                <p>
                    Ora che avete dato uno sguardo ai nostri profili e avete visto le nostre competenze, vorremmo anche
                    saper e chi siete, per cominciare a soddisfare le vostre esigenze e capire al meglio quello che
                    necessitate in modo da definire il tempo e il vostro budget a disposizione per la realizzazione dei
                    vostri progetti.
                </p>
                <p>
                    Siamo conformi a persone che vogliono investire per un design unico e specifico, oppure a chi
                    necessitano di qualcosa di semplice con un prezzo conveniente pur mantenendo una buona qualita dei
                    prodotti.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="btn nextPage myBtn">Parlaci della tua idea</div>
            </div>
        </div>
    </div>

    <div class="modal fade userInfoModal" id="miloModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="btnArea">
                        <div class="btn myBtn closeBtn" data-dismiss="modal">Chiudi</div>
                    </div>
                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <div class="userImage">
                                <img src="images/slides/_2-team/Milo.png"/>
                            </div>

                            <div class="infos">
                                <div class="info">
                                    Jean–Marie Balogh
                                </div>
                                <div class="info">
                                    Grafico, web designer e illustratore
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <p>
                                Nato a Locarno nel 1980, mi sono diplomato come grafico illustratore alla Scuola del Fumetto di Milano, grafico federale al CSIA di Lugano e web design presso la SAE Institute di Ginevra.
                                <br/>
                                <br/>
                                Sono in grado di rispondere alle vostre esigenze concezione di prodotti grafici, qualsiasi prodotto stampato.
                                <br/>
                                <br/>
                                Le mie qualita principali vanno dal disegno, conoscenze tipografiche, storia dell’arte, arricchite da numerosi viaggi ed esperienze svolte all’estero.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade userInfoModal" id="huyModal" tabindex="-s" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="btnArea">
                        <div class="btn myBtn closeBtn" data-dismiss="modal">Chiudi</div>
                    </div>
                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <div class="userImage">
                                <img src="images/slides/_2-team/Huy.png"/>
                            </div>

                            <div class="infos">
                                <div class="info">
                                    Nguyen Thi Minh Huy
                                </div>
                                <div class="info">
                                    Architetto, architetto urbanista e 3D designer
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <p>
                                Nato a Locarno nel 1980, mi sono diplomato come grafico illustratore alla Scuola del Fumetto di Milano, grafico federale al CSIA di Lugano e web design presso la SAE Institute di Ginevra.
                                <br/>
                                <br/>
                                Sono in grado di rispondere alle vostre esigenze concezione di prodotti grafici, qualsiasi prodotto stampato.
                                <br/>
                                <br/>
                                Le mie qualita principali vanno dal disegno, conoscenze tipografiche, storia dell’arte, arricchite da numerosi viaggi ed esperienze svolte all’estero.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade userInfoModal" id="ericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="btnArea">
                        <div class="btn myBtn closeBtn" data-dismiss="modal">Chiudi</div>
                    </div>
                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <div class="userImage">
                                <img src="images/slides/_2-team/Eric.png"/>
                            </div>

                            <div class="infos">
                                <div class="info">
                                    Eric Spichiger
                                </div>
                                <div class="info">
                                    Web Master
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ownerInfo">
                        <div class="col-md-12 col-sm-12">
                            <p>
                                Nato a Locarno nel 1980, mi sono diplomato come grafico illustratore alla Scuola del Fumetto di Milano, grafico federale al CSIA di Lugano e web design presso la SAE Institute di Ginevra.
                                <br/>
                                <br/>
                                Sono in grado di rispondere alle vostre esigenze concezione di prodotti grafici, qualsiasi prodotto stampato.
                                <br/>
                                <br/>
                                Le mie qualita principali vanno dal disegno, conoscenze tipografiche, storia dell’arte, arricchite da numerosi viaggi ed esperienze svolte all’estero.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>