<div class="formInfo contact">
    <div class="container-fluid">
        <form>
            <div class="row formHeaderTitle noBorder">
                <div class="col-md-4 col-sm-4">
                    <h1 class="titleForm">Contatti</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="phoneNumber">0041 78 933 24 53</div>
                    <div class="contactEmail">jeanmarie.balogh@gmail.com</div>
                </div>
            </div>
            <div class="row infoPart noBorder">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="name">NOME COGNOME</label>
                        <input value="" type="text" class="form-control"
                               id="name" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="form-group">
                        <label for="name">SOGGETTO DELLA LETTERA</label>
                        <input value="" type="text" class="form-control"
                               id="name" placeholder="Name">
                    </div>
                </div>
            </div>


            <div class="row infoPart noBorder">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input value="" type="email" class="form-control"
                               id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">TELEFONO</label>
                        <input value="" type="tel" class="form-control"
                               id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="country">PAESE</label>
                        <input value="" type="text" class="form-control"
                               id="country" placeholder="Country">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="form-group">
                        <label for="phone">CONTENUTO DELLA LETTERA</label>
                        <textarea class="form-control finalComment" rows="3"></textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>