<div class="homeSlider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="50000000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="wrapSlider">
                    <img src="images/slides/_1-home page/svizzera.jpg" alt="Svizzera">
                    </img>

                    <div class="carousel-caption">
                        <div class="captionTitle">ESPERIENZA NEL CAMPO</div>
                        <div class="captionTitle">DELLA GRAFICA.</div>
                        <div class="captionTitle">DALLA SVIZZERA...</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wrapSlider">
                    <img src="images/slides/_1-home page/vietnam.jpg" alt="VN">
                    </img>

                    <div class="carousel-caption">
                        <div class="captionTitle">ESPERIENZA NEL CAMPO</div>
                        <div class="captionTitle">DELLA GRAFICA.</div>
                        <div class="captionTitle">DALLA SVIZZERA...</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>