<div class="modal" id="leftMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="animated fadeInLeft modal-content">
            <div class="modal-body">
                <div class="btnArea">
                    <span>Chiudi</span><span class="btnClose" data-dismiss="modal"></span>
                </div>

                <div class="languageArea">
                    <div class="locale">EN</div>
                    <div class="locale">DE</div>
                    <div class="locale">FR</div>
                    <div class="locale active">IT</div>
                    <div class="locale">VN</div>
                </div>

                <div class="menuLinksArea">
                    <!--<div class="gotoLink active"><a href="#">Home page</a></div>-->
                    <div class="gotoLink"><a href="/home">Home page</a></div>
                    <div class="gotoLink"><a href="/about">Chi siamo</a></div>
                    <div class="gotoLink"><a href="/formal">Parlaci della tua idea</a></div>
                    <div class="gotoLink"><a href="/showcase">Showcase</a></div>
                    <div class="gotoLink"><a href="/product">La nostra marca</a></div>
                    <div class="gotoLink"><a href="/contact">Contatti</a></div>
                </div>
            </div>
        </div>
    </div>
</div>